@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Header*/
.navbar {
  padding: 25px;
}

.navbar-icon img {
  width: 50px;
  height: 40px;
}

.nav {
  gap: 75px;
}

.nav-item {
  border-radius: 50px;
}

.nav-item a {
  color: black;
}

.nav-item:hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

/*Header end*/
/*Footer*/
.footer-nav {
  display: flex;
  align-items: center;
  height: 20px;
  justify-content: center;
  gap: 50px;
  padding-top: 20px;
}

.footer-navbar ul {
  padding-left: 0;
}

.footer-nav li {
  list-style: none;
}

.footer-nav a {
  color: black;
  text-decoration: none;
}

.footer-navbar {
  background-color: #f7f6f6;
}

.footer-navbar p {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

/*Footer end*/
/*Index main*/
.main1 {
  display: flex;
  height: 100%;
  padding: 25px;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  justify-content: center;
  align-items: center;
}
.main1-texto {
  text-align: center;
  width: 50%;
}
.main1 img {
  width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.main2 {
  display: flex;
  height: 380px;
  background-color: #f7f6f6;
  justify-content: space-evenly;
  align-items: center;
}
.main2-opc {
  width: 200px;
  height: 200px;
  text-align: center;
}
.main2-opc-body {
  text-align: center;
}
.main2 img {
  width: 100px;
  height: 100px;
}

.main3 {
  display: flex;
  height: 380px;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 25px;
}
.main3-texto {
  text-align: center;
}

.main4 {
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main4-boton {
  color: black;
  border-radius: 15px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  width: 130px;
}
.main4-boton :hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

.main5 {
  height: 200px;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.main5-boton {
  font-size: 20px;
  color: black;
  border-radius: 15px;
  background-color: #f7f6f6;
  width: 125px;
  text-align: center;
  text-decoration: none;
}
.main5-boton :hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  border: 1px solid black;
}
.main5-form {
  margin-left: 0px;
  width: 50%;
}

.newsletter {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.newsletter-boton {
  color: black;
  border-radius: 15px;
  background-color: #f7f6f6;
  text-decoration: none;
  text-align: center;
  width: 100px;
}
.newsletter-boton :hover {
  border: 1px solid black;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

/*Index main end*/
/*Sobre-antologia main*/
.sobre1 {
  height: 100%;
  padding: 25px;
  display: flex;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.sobre1-imagen {
  width: 300px;
  max-height: 300px;
  object-fit: cover;
  object-position: 15% 100%;
}
.sobre1-texto {
  width: 50%;
  text-align: center;
}

.sobre2 {
  height: 100%;
  display: flex;
  background-color: #f7f6f6;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 25px;
}
.sobre2-imagen {
  width: 25%;
  max-height: 300px;
}
.sobre2-texto {
  width: 50%;
  text-align: justify;
}

.sobre3 {
  height: 300px;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel-inner {
  padding: 50px;
}

.carousel-caption {
  align-items: flex-end;
}

/*Sobre-antologia main end*/
/*Tienda main*/
.tienda-seccion1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}
.tienda-seccion1-body {
  padding-right: 50px;
  text-align: center;
}
.tienda-seccion1-imagen {
  width: 400px;
  height: 300px;
  object-fit: cover;
  justify-content: flex-end;
}

.grilla-tienda {
  padding-right: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr, 25% 25% 25%;
  grid-template-rows: 400px 400px;
  grid-template-areas: "area0 area1 area2 area3" "area0 area4 area5 area6";
  gap: 10px;
}
.grilla-tienda-prod {
  padding: 15px;
}
.grilla-tienda-prod img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.grilla-tienda-prod-body {
  text-align: center;
}
.grilla-tienda-prod-body p {
  font-size: 14px;
}

.titulo-producto {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: black;
}

.tienda-buscador {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.grilla-tienda-filtros {
  border: 1px solid black;
  justify-content: center;
  padding: 10px;
  margin-left: 10px;
}
.grilla-tienda-filtros ul {
  list-style: none;
  padding-left: 0;
}
.grilla-tienda-filtros a {
  color: black;
}
.grilla-tienda-filtros button {
  display: none;
}

.tienda-vermas {
  height: 100%;
  padding: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.tienda-vermas a {
  border-radius: 15px;
  border: 1px solid black;
  color: black;
  background-color: #f7f6f6;
  text-align: center;
  width: 100px;
  text-decoration: none;
}
.tienda-vermas a :hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

/*Asignación de grid area*/
.a1 {
  grid-area: area0;
}

.p1 {
  grid-area: area1;
}

.p2 {
  grid-area: area2;
}

.p3 {
  grid-area: area3;
}

.p4 {
  grid-area: area4;
}

.p5 {
  grid-area: area5;
}

.p6 {
  grid-area: area6;
}

/*Tienda main end*/
/*Blog main*/
.blog1 {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  gap: 50px;
}
.blog1-imagen {
  width: 25%;
  height: 300px;
}
.blog1-texto {
  width: 50%;
  text-align: center;
}

.blog2 {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f6;
  gap: 50px;
}
.blog2-imagen {
  width: 30%;
  height: 300px;
}
.blog2-texto {
  width: 50%;
  text-align: center;
}
.blog2-texto a {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.blog3 {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  gap: 50px;
}
.blog3-imagen {
  width: 25;
  height: 300px;
}
.blog3-texto {
  width: 50%;
  text-align: center;
}
.blog3-texto a {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.blog4 {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f6;
  gap: 50px;
}
.blog4-imagen {
  width: 30%;
  height: 300px;
}
.blog4-texto {
  width: 50%;
  text-align: center;
}
.blog4-texto a {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.blog-vermas {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-vermas a {
  color: black;
  text-decoration: none;
  width: 120px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  background-color: #f7f6f6;
}
.blog-vermas a :hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

/*Blog main end*/
/*Contacto main*/
.contacto1 {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  gap: 50px;
}
.contacto1-imagen {
  width: 25%;
  height: 300px;
  object-fit: cover;
}
.contacto1-texto {
  width: 50%;
  text-align: center;
}

.contacto2 {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
}
.contacto2 .contacto2-mapa {
  width: 50%;
  text-align: center;
}
.contacto2 .contacto2-form {
  width: 50%;
  text-align: center;
}
.contacto2 .contacto2-form input {
  width: 50%;
}
.contacto2 .contacto2-form textarea {
  width: 50%;
}
.contacto2 .contacto2-form button {
  border-radius: 15px;
  width: 100px;
  background-color: #f7f6f6;
}
.contacto2 .contacto2-form button:hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

/*Contacto main end*/
/*Cuenta main*/
.cuenta1 {
  height: 380px;
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuenta1 .cuenta1-imagen {
  width: 25%;
  height: 300px;
}
.cuenta1 .cuenta1-texto {
  width: 50%;
  text-align: center;
}
.cuenta1 .cuenta1-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.cuenta1 a {
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: 15px;
  width: 130px;
  background-color: #f7f6f6;
}
.cuenta1 a:hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

#form-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
#form-registro h2 {
  padding: 15px;
}

#form-iniciarsesion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.form-registro-body {
  display: flex;
}

.form-registro-1 {
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form-registro-1 input {
  width: 60%;
}

.form-registro-2 {
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form-registro-2 input {
  width: 60%;
}
.form-registro-2 button {
  border-radius: 15px;
  width: 100px;
  background-color: #f7f6f6;
}
.form-registro-2 button:hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

.botones button {
  border-radius: 15px;
  width: 100px;
  background-color: #f7f6f6;
}

.botones button:hover {
  background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
}

/*Activa y desactiva los forms de Registro/Iniciar sesión según la opción elegida*/
#form-registro {
  display: none;
  background: #f7f6f6;
}

#form-registro:target {
  display: flex;
}

#form-iniciarsesion {
  display: none;
  background: #f7f6f6;
  height: 200px;
}

#form-iniciarsesion:target {
  display: flex;
}

#sesion-iniciada {
  display: none;
  background: #f7f6f6;
  height: 125px;
}
#sesion-iniciada :target {
  display: flex;
}
#sesion-iniciada button {
  position: relative;
  left: 675px;
  top: 15px;
}

/*Cuenta main end*/
/*Media queries*/
/*Mobile*/
@media screen and (min-width: 320px) and (max-width: 599px) {
  /*Nav*/
  .container {
    flex-direction: column;
  }
  .nav {
    flex-direction: column;
    gap: 2px;
  }
  .main1 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .main1 .main1-texto {
    width: 100%;
  }
  .main1 img {
    width: 100%;
    height: auto;
  }
  .main2 {
    flex-direction: column;
    gap: 50px;
    padding: 25px;
    height: 100%;
  }
  .main2-opc {
    height: 100%;
  }
  .main3 {
    flex-direction: column;
    gap: 25px;
    height: 100%;
    padding: 25px;
  }
  .main5 {
    height: 100%;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    align-items: center;
    justify-content: center;
  }
  .main5-form {
    width: 100%;
  }
  .main5-form p {
    text-align: justify;
  }
  .main5 .newsletter {
    flex-direction: column;
  }
  .sobre1 {
    flex-direction: column;
    gap: 25px;
  }
  .sobre1-imagen {
    width: 90%;
    height: 100%;
  }
  .sobre2 {
    flex-direction: column;
    gap: 25px;
  }
  .sobre2-imagen {
    width: 90%;
    height: 100%;
  }
  .sobre2-texto {
    width: 100%;
  }
  .tienda-seccion1 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
    padding: 25px;
  }
  .tienda-seccion1-body {
    padding-right: 0;
  }
  .tienda-seccion1 img {
    width: 100%;
    height: auto;
  }
  .tienda-buscador {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .grilla-tienda-filtros {
    position: relative;
    display: inline-block;
    border: none;
    margin: auto;
  }
  .grilla-tienda-filtros button {
    display: block;
    width: 100%;
    background-color: #f7f6f6;
    color: black;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px black;
    cursor: pointer;
  }
  .grilla-tienda-filtros button:hover {
    background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
  }
  .grilla-tienda-filtros:hover .grilla-tienda-lista {
    display: block;
  }
  .grilla-tienda-lista {
    display: none;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(97, 61, 254, 0.5) 0%, rgba(251, 146, 237, 0.5) 100%);
    min-width: 160px;
    z-index: 1;
  }
  .grilla-tienda-lista a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .grilla-tienda {
    display: flex;
    flex-direction: column;
  }
  .blog1 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .blog1-texto {
    width: 100%;
  }
  .blog1 img {
    width: 100%;
    height: auto;
  }
  .blog2 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .blog2-texto {
    width: 100%;
  }
  .blog2 img {
    width: 100%;
    height: auto;
  }
  .blog3 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .blog3-texto {
    width: 100%;
  }
  .blog3 img {
    width: 100%;
    height: auto;
  }
  .blog4 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .blog4-texto {
    width: 100%;
  }
  .blog4 img {
    width: 100%;
    height: auto;
  }
  .contacto1 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .contacto1-texto {
    width: 100%;
  }
  .contacto1 img {
    width: 100%;
    height: auto;
  }
  .contacto2 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .contacto2-texto {
    width: 100%;
  }
  .contacto2-mapa {
    width: 100%;
    height: auto;
  }
  .contacto2-form {
    width: 100%;
  }
  .cuenta1 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  .cuenta1 .cuenta1-texto {
    width: 100%;
  }
  .cuenta1 .cuenta1-imagen {
    width: 100%;
    height: auto;
  }
  #form-registro {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  #form-registro h2 {
    text-align: center;
  }
  .form-registro-body {
    display: flex;
    flex-direction: column;
  }
  .form-registro-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form-registro-1 input {
    width: 100%;
  }
  .form-registro-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .form-registro-2 input {
    width: 100%;
  }
  .form-registro-botones {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  #form-iniciarsesion {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px;
    padding: 25px;
  }
  /*Footer*/
  .footer-nav {
    display: block;
    height: 100%;
    text-align: center;
  }
}
/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  /*Nav*/
  .nav {
    gap: 2px;
  }
  .navbar-icon {
    text-align: left;
  }
  /*Main-Index*/
  .main1 {
    gap: 50px;
  }
  .main2 {
    gap: 50px;
    padding: 25px;
    height: 100%;
  }
  .main2-opc {
    height: 100%;
  }
  .main3 {
    gap: 50px;
  }
  .newsletter {
    flex-direction: column;
    flex-wrap: wrap;
  }
  /*Main-Sobre Antologia*/
  .sobre1 {
    gap: 50px;
  }
  .sobre2 {
    flex-direction: column;
  }
  .sobre2-imagen {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .sobre2-texto {
    width: 100%;
  }
  /*Footer*/
}
/*Desktop*/
@media screen and (min-width: 1024px) and (max-width: 1800px) {
  /*Nav*/
  /*Main-Index*/
  .main1 {
    gap: 50px;
  }
  /*Main-Sobre Antologia*/
  /*Footer*/
}
body {
  width: 100%;
  background-color: #f7f6f6;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
