/*Blog main*/

.blog1{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: $background-gradient;
    gap: 50px;
}

.blog1-imagen{
    width: 25%;
    height: 300px;
}

.blog1-texto{
    width: 50%;
    text-align: center;
}

.blog2{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f6f6;
    gap: 50px;
}

.blog2-imagen{
    width: 30%;
    height: 300px;
}

.blog2-texto{
    width: 50%;
    text-align: center;
}

.blog2-texto a{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.blog3{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: $background-gradient;
    gap: 50px;
}

.blog3-imagen{
    width: 25;
    height: 300px;
}

.blog3-texto{
    width: 50%;
    text-align: center;
}

.blog3-texto a{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.blog4{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f6f6;
    gap: 50px;
}

.blog4-imagen{
    width: 30%;
    height: 300px;
}

.blog4-texto{
    width: 50%;
    text-align: center;
}

.blog4-texto a{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.blog-vermas{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-vermas a{
    color: black;
    text-decoration: none;
    width: 120px;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    background-color:#f7f6f6;
}

.blog-vermas a:hover{
    background-image: $background-gradient;
}

/*Blog main end*/