/*Cuenta main*/
.cuenta1{
    height: $height-section;
    background-image: $background-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuenta1-imagen{
    width: 25%;
    height: 300px;
}

.cuenta1-texto{
    width: 50%;
    text-align: center;
}

.cuenta1-botones{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.cuenta1 a{
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 15px;
    width: 130px;
    background-color:#f7f6f6;
}

.cuenta1 a:hover{
    background-image: $background-gradient;
}

#form-registro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.titulo-registro{
    display: inline-block;
}

#form-iniciarsesion{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.form-registro-2{
    gap: 15px;
}

.form-registro-2 button{
    border-radius: 15px;
    width: 100px;
    background-color: #f7f6f6;   
}

.form-registro-2 button:hover{
    background-image: $background-gradient;
}

.botones button{
    border-radius: 15px;
    width: 100px;
    background-color: #f7f6f6;
}

.botones button:hover{
    background-image: $background-gradient;
}

/*Activa y desactiva los forms de Registro/Iniciar sesión según la opción elegida*/
#form-registro{
    display:none;
    background: #f7f6f6;
}

#form-registro:target{
    display:flex;
}

#form-iniciarsesion{
    display:none;
    background:#f7f6f6;
    height: 200px;
}

#form-iniciarsesion:target{
    display:flex;
}

#sesion-iniciada button{
    position:relative;
    left: 675px;
    top:15px;
}

#sesion-iniciada{
    display:none;
    background: #f7f6f6;
    height: 125px;
}

#sesion-iniciada:target{
    display:flex;
}

/*Cuenta main end*/