/*Media queries*/

/*Mobile*/
@media screen and (min-width: 320px) and (max-width:599px){

    /*Nav*/
    .container{
        flex-direction: column;
    }

    .nav{
        flex-direction: column;
        gap: 2px;
    }

    //Index
    .main1{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        .main1-texto{
           width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        } 
    }

    .main2{
        flex-direction: column;
        gap: 50px;
        padding: 25px;
        height: 100%;

        &-opc{
            height: 100%;
        }
    }

    .main3{
        flex-direction: column;
        gap: 25px;
        height: 100%;
        padding: 25px;

        &-texto{
            width: 100%;
        }
    }

    .main5{
        height: 100%;
        flex-direction: column;
        gap: 25px;
        padding: 25px;
        align-items: center;
        justify-content: center;

        &-form{
            width: 100%;

            p{
                text-align: justify;
            }
        }

        .newsletter{
            flex-direction: column;
        }

    }

    //Sobre Antologia

    .sobre1{

        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        &-texto{
           width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        }

    }

    .sobre2{
        flex-direction: column;
        gap: 25px;
            
        &-imagen{
            width: 90%;
            height: 100%;
        }

        &-texto{
        width:100%;
        }
    }

    .reviews{
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        padding: 25px;

        .review-contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
        }

        .review-body{
            width: 90%;
        }

        p{
            font-size: 14px;
            width: 80%;
            text-align: justify;     
        }
    }
       

    //Tienda
    .tienda-seccion1{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        .tienda-seccion1-texto{
           width: 100%;
        }

        .tienda-seccion1-imagen{
            width: 100%;
            height: auto;
        }
 
        .tienda-seccion1-body{
            padding-right: 0;
        }
    }

    .tienda-buscador{
        display: flex;
        justify-content: center;
        padding: 0;
    }

    //Botón de filtros
    .grilla-tienda-filtros{
        position: relative;
        display: inline-block;
        border: none;
        margin: auto;

        button{
            display: block;
            width: 100%;
            background-color: #f7f6f6;
            color: black;
            border-radius: 15px;
            padding: 10px;
            font-size: 16px;
            border: 1px black;
            cursor: pointer;

            &:hover{
                background-image: $background-gradient;
            }
        }
    }

    .grilla-tienda-filtros:hover .grilla-tienda-lista{
        display: block;
    
    }

    .grilla-tienda-lista{
            display: none;
            position: absolute;
            background-image: $background-gradient;
            min-width: 160px;
            z-index: 1;

            a{
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        }
    
    //Grilla tienda
    .grilla-tienda{
        display: flex;
        flex-direction: column;
    }
    

    //Blog
    .blog1{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        &-texto{
           width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    .blog2{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        &-texto{
           width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    .blog3{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        &-texto{
           width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    .blog4{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        &-texto{
           width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        }
    }
    

    //Contacto
    .contacto1{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        &-texto{
           width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    .contacto2{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        .contacto2-texto{
           width: 100%;
        }

        .contacto2-mapa{
            width: 100%;
            height: auto;

            iframe{
                width: 90%;
                text-align: center;
            }
        }
        
        .contacto2-form{
            width: 100%;

            input{
                width: 90%;
            }
    
            textarea{
                width: 90%;
            }
        }

    }

    //Cuenta
    .cuenta1{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        .cuenta1-texto{
           width: 100%;
        }

        .cuenta1-imagen{
            width: 100%;
            height: auto;
        }   
    }

    #form-registro{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;

        h2{
            text-align: center;
        }
    }

    .form-registro-body{
        display: flex;
        flex-direction: column;
    }

    .form-registro-1{
        width: 100%;
        display: flex;
        flex-direction: column;

        input{
            width: 100%;
        }
    }

    .form-registro-2{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:0;

        input{
            width: 100%;
        }
    }

    .form-registro-botones{
        display: flex;
        justify-content: center;
        padding: 5px;
        
    }

    #form-iniciarsesion{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 15px;
        padding: 25px;
    }

    /*Footer*/
    .footer-nav{
        display: block;
        height: 100%;
        text-align: center;
    }
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1023px){

    /*Nav*/ 
    .container{
        flex-direction: column;
    }

    .nav{
        gap: 2px;
    }

    /*Main-Index*/
    .main1{
        gap: 50px;
    }

    .main2{
        gap: 50px;
        padding: 25px;
        height: 100%;
    }

    .main2-opc{
        height: 100%;
    }

    .main3{
        gap:50px;
    }

    .newsletter{
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*Main-Sobre Antologia*/
    .sobre1{
        gap: 50px;
    }

    .sobre2{
        flex-direction: column;
    }

    .sobre2-imagen{
        width: 90%;
        height: 100%;
        object-fit: cover;
    }

    .sobre2-texto{
        width:100%;
    }


    /*Footer*/

}

/*Desktop*/
@media screen and (min-width:1024px) and (max-width: 1800px){

    /*Nav*/


    /*Main-Index*/
    .main1{
        gap: 50px;
    }

    /*Main-Sobre Antologia*/
    /*Footer*/

}