/*Sobre-antologia main*/
.sobre1{
    height: 100%;
    padding: 25px;
    display: flex;
    background-image: $background-gradient;
    align-items: center;
    justify-content: center;
    gap: 50px;

    &-imagen{
        width: 300px;
        max-height: 300px;
        object-fit: cover;
        object-position: 15% 100%;
    }

    &-texto{
        width: 50%;
        text-align: center;
    }
}


.sobre2{
    height: 100%;
    display: flex;
    background-color: #f7f6f6;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 25px;

    &-imagen{
        width: 25%;
        max-height: 300px;
    }

    &-texto{
        width: 50%;
        text-align: justify;
    }
}

.sobre3{
    height: 300px;
    background-image: $background-gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.carousel-inner{
    padding: 50px;
}

.carousel-caption{
    align-items: flex-end;
}

.reviews{
    height: $height-section;
    background-image: $background-gradient;
    text-align: center;
    

    .reviews-titulo{
        display:block;
        text-align: center;
        padding: 20px;
    }

    .review-contenedor{
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .review-body{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #f7f6f6;
        width: 18%;
        padding: 25px;
        transition: 1s;
    }

    .review-body:hover{
        transform: scale(1.1, 1.1);
        box-shadow: 5px 5px rgba(251,146,237,0.5);
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 14px;
        width: 80%;
        text-align: justify;
        
    }
}


/*Sobre-antologia main end*/