/*Footer*/
.footer-nav{
    display:flex;
    align-items: center;
    height: 20px;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}

.footer-navbar ul{
    padding-left: 0;
}

.footer-nav li{
    list-style: none;
}

.footer-nav a{
    color:black;
    text-decoration: none;
}

.footer-navbar{
    background-color: #f7f6f6;
}

.footer-navbar p{
    font-size: 12px;
    display: flex;
    justify-content: center;
}

/*Footer end*/